<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScheduSend-Thank You!</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
}
    </style>
</head>
<body>
    <div class="end">
    <h2 class="heads">Thank You! 
    </h2>
    <p class="para">Your messages will be delivered to recipients at specific times and dates chosen by you.</p>
    <a href="/index">Home</a>
  </div>
</body>
</html>